$primary-color: #A53DFF;
$background-color: #F0F1F3;
$background-purble: #EDD8FF;
$background-color-dark: #132238;
$transition: 0.3s;
$margin: 24px;
$section-padding: 124px 0;
$box-shadow:0 4px 6px rgba(0, 0, 0, 0.1),
            0 1px 3px rgba(0, 0, 0, 0.08);